.aside {
  background-color: #ddd;
  width: calc(4rem + 1px);
  min-width: calc(4rem + 1px);
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  gap: 0.5rem;
}
aside > * {
  color: #606060;
  padding: 1.5rem 0;
}
.aside > *:hover {
  background-color: #606060a4;
}
