.list-page-title {
  margin: 2rem;
  width: 100%;
}
.list-page-title h1 {
  border-bottom: none;
  color: #606060;
}
.search-inputs {
  margin-top: 2rem;
  border-bottom: 1px solid #a7a7a7;
  padding-bottom: 2rem;
}
